.mainContainer{
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    margin: auto;

}
.Container{
    width: 100%;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card{
    /* border: solid red 1px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 250px;
    margin: 20px;
    border-radius: 20px;
    padding: 2px;
    justify-content: center;
    align-content: center;
}

.card>img{
    max-width: 100%;
    height: 300px;
    padding: 2px;
    margin: auto;
    /* border: solid black 1px; */
}
.detail>p{
    color: black;
}
.filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin-right: 180px;
    gap: 10px;
    text-align: center;
}
.filter>h6{
    margin-top: 5px;
}
.btn{
    background-color: #de6737;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 7px;
}
.detail{
    display: flex;
    justify-content: space-around;
}
.card:hover{
   cursor: pointer;
   transform: scale(1.02);
}
.btn:hover{
    transform: scale(1.05);
}
.filterList{
    border: none;
    /* appearance: none; */
    padding: 3px;
    background-color: #de6737;
    color: white;
    border-radius: 5px;
}