.mainContainer{
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    margin: auto;

}
.Container{
    width: 100%;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card{
    /* border: solid red 1px; */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.04);
    width: 250px;
    margin: 20px;
    padding: 2px;
    justify-content: center;
    align-content: center;
}

.card>img{
    width: 100%;
    height: 300px;
    padding: 2px;
    margin: auto;
    /* border: solid black 1px; */
}
.detail>p{
    color: black;
}
.filter{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin-right: 180px;
    gap: 10px;
    text-align: center;
}
.filter>h6{
    margin-top: 5px;
}
.btn{
    background-color: #de6737;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 7px;
}
.detail{
    display: flex;
    justify-content: space-around;
}